{% extends "website/base.html" %}

{% block content %}
<div class="productcontent">
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
                <img src="/static/img/administration.png">
            </div>
                <h3>CEO</h3>
                <h2>Mr.Johnny Depp</h2>
        </div>
    </div>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">     
                <img src="/static/img/business.jpeg">
            </div>
                <h3>Director of Business Intelligence</h3>
                <h2>Mr.Tom Holland</h2>
        </div>
    </div>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
                <img src="/static/img/economics.jpeg">
            </div>
                <h3>Director of Economic Developement</h3>
                <h2>Mr.Daniel Radcliffe</h2>
        </div>
    </div>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
                <img src="/static/img/engineering.jpg">
            </div>
                <h3>Director of Engineering sector</h3>
                <h2>Mrs.Emma Watson</h2>
        </div>
    </div>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
                <img src="/static/img/security1.jpg">
            </div>
                <h3>Director of Safety and Security</h3>
                <h2>Mr.Dwayne Johnson</h2>
        </div>
    </div>
    <div class="productitems">
        <div class="productitem"> 
            <div class="itemimage">
                <img src="/static/img/sales11.jpg">
            </div>
                <h3>Director of Sales </h3>
                <h2>Mr.Mark Sinclair</h2>
        </div>
    </div>
</div>
{% endblock %}