{% extends "website/base.html" %}

{% block content %}
<div class="peoplecontent">
        <div class="peopleitem"> 
            <div class="peopleimage">
                <img src="/static/img/FSE.png" alt="people">
            </div>
            <h2 class="peoplename">Mr.Johnny Depp</h2>
            <h3 class="peopledesignation">Field Service Engineer</h3>
        </div>
        <div class="peopleitem"> 
            <div class="peopleimage">
                <img src="/static/img/ET.jpeg" alt="people">
            </div>
            <h2 class="peoplename">Mr.Tom Holland</h2>
            <h3 class="peopledesignation">Equipment Technician</h3>
        </div>
        <div class="peopleitem"> 
            <div class="peopleimage">
                <img src="/static/img/TT.jpeg" alt="people">
            </div>
            <h2 class="peoplename">Mr.Daniel Radcliffe</h2>
            <h3 class="peopledesignation">Technical Trainer</h3>
        </div>
        <div class="peopleitem"> 
            <div class="peopleimage">
                <img src="/static/img/PC.jpg" alt="people">
            </div>
            <h2 class="peoplename">Mrs.Emma Watson</h2>
            <h3 class="peopledesignation">Project Coordinator</h3>
        </div>
        <div class="peopleitem"> 
            <div class="peopleimage">
                <img src="/static/img/PSE.jpg" alt="people">
            </div>
            <h2 class="peoplename">Mr.Dwayne Johnson</h2>
            <h3 class="peopledesignation">Product Support Engineer</h3>
        </div>
        <div class="peopleitem"> 
            <div class="peopleimage">
                <img src="/static/img/IE.jpg" alt="people">
            </div>
            <h2 class="peoplename">Mr.Mark Sinclair</h2>
            <h3 class="peopledesignation">Integration Engineer</h3>
        </div>
</div>
{% endblock %}